/* Your CSS Code here. */

body {
	padding : 0;
	margin : 0;
}

nav ul {
	display : flex;
	flex-direction : row;
	gap : 20px;
}
nav ul li {
		list-style-type : none;
}

nav ul li a {
		text-decoration : none;
		color : black;
}

div {
	display :flex;
	flex-direction : column;
	gap : 20px;
}

video {
	width : 400px;
	height : 300px;
}